@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply imrz-text-black;
    overflow-x: hidden;
    cursor: context-menu;
  }

  body{
    @apply imrz-bg-slate text-black
  }

  p {
    @apply leading-8
  }

  h1 {
    text-transform: capitalize;
  }

  h2 {
   @apply imrz-text-blue;
    text-transform: uppercase;
  }

  h3 {
    margin: 0 auto;
  }

  a {
    @apply imrz-text-black;
  }

  svg, path:hover{
    stroke: inherit;
  }
}

@layer components {
  .link-style-default {
    @apply text-xs text-center w-full lg:text-tiny font-bold;
  }
  .logo-setting {
    @apply md:object-scale-down lg:object-scale-down;
  }
  .button-pink {
    @apply m-auto mt-14 flex h-[65px] w-[220px] items-center justify-center rounded-xl hover:text-white imrz-pink hover:bg-brand-gradient px-5 text-xs font-bold uppercase text-white shadow transition ease-in-out hover:duration-150;
  }
  .form-input {
    @apply rounded-lg border-0 w-full bg-white py-4 shadow outline-none focus:outline-none;
  }
  .imrz-card-wrapper {
    @apply m-auto grid w-10/12 grid-cols-4 items-center 4xl:pb-20 justify-center pb-40 2xl:w-11/12 2xl:gap-3 4xl:gap-10 4xl:flex xl:flex lg:grid lg:grid-cols-2 sm:flex sm:flex-wrap;
  }
  .imrz-card {
    @apply flex drop-shadow-base w-[300px] h-[450px] lg:w-auto lg:h-[500px] md:w-auto sm:w-11/12 sm:h-auto sm:pb-10 flex-col rounded-3xl bg-white	shadow-[#1d2445];
  }
  .imrz-card-img {
    @apply px-3 pt-3 rounded-2xl lg:w-full;
  }
  .imrz-card-heading {
    @apply my-5 w-full text-center text-xs font-bold text-blue-500 xl:text-sm lg:text-sm md:w-11/12 md:text-xs;
  }
  .imrz-card-paragraph {
    @apply m-auto w-11/12 text-center leading-snug;
  }
  .imrz-heading-2 {
    @apply m-auto leading-[50px] md:px-6 xl:w-9/12 3xl:w-9/12 xl:text-base lg:w-10/12 md:w-10/12 lg:text-sm  sm:w-full sm:text-sm mt-3 text-center text-base font-extrabold capitalize text-black ;
  }
  .imrz-heading-3 {
    @apply w-full leading-[50px] xl:text-sm lg:text-sm md:text-xs sm:text-tiny text-center text-xs font-bold text-blue-500 md:w-11/12;
  }
  .agency-services {
    @apply m-auto w-auto h-[450px] md:h-auto sm:w-full sm:h-auto ;
  }
  .agency-icons {
    @apply h-[100px] w-[100px] mx-auto rounded-full bg-white shadow-lg px-3 py-3;
  }
  .imrz-h1-hero {
    @apply flex w-9/12 m-auto lg:text-center text-base lg:m-auto sm:text-sm font-bold lg:w-10/12 md:w-11/12 lg:p-0 3xl:pr-28 ;
  }
  .imrz-b-hero {
    @apply flex justify-start items-start w-9/12 m-auto lg:w-full lg:justify-center lg:items-center ;
  }
}


@layer utilities {
  .bg-brand-gradient {
    background: linear-gradient(
      90deg,
      rgba(0, 159, 227, 1) 0%,
      rgba(239, 3, 129, 1) 100%
    );
  }
  .imrz-black {
    background: #1D2445;
    color: #ffffff;
  }
  .imrz-text-black {
    color: #1D2445;
  }
  .imrz-pink {
    background: #EF0381;
    color: #ffffff;
  }
  .imrz-text-pink {
    color: #EF0381;
  }
  .imrz-blue {
    background: #009FE3;
    color: #ffffff;
  }
  .imrz-text-blue {
    color: #009FE3;
  }
  .imrz-bg-slate {
    background: #F7FAFC;
  }
}

